#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Arena.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.design-section {
    flex-grow: 1;
    text-align: center;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
}

/* Hero Section */
#hero {
    background: linear-gradient(135deg, #CC0000 0%, #FF6666 100%);  /* Red gradient background */
    color: white;  /* White text color */
    text-align: center;  /* Centered text */
    padding: 50px 0;  /* Vertical padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Light shadow */
}

#hero h1 {
    font-size: 2.5em;  /* Large heading */
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  /* Text shadow for better contrast */
}

#hero p {
    font-size: 1.2em;  /* Slightly smaller text for the paragraph */
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);  /* Similar shadow effect for paragraph */
}


.section-title {
    font-size: 2.5em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
}


.design-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.design-item {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.design-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.design-item-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color 0.3s ease;
}

.design-item:hover .design-item-content {
    background-color: rgba(255, 255, 255, 0.2);
}

.design-item-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

.design-item:hover .design-item-background {
    opacity: 1;
}

.design-item h2 {
    margin-top: 0;
    font-size: 1.9em;
    color: #444;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-bottom: 8px;
    transition: color 0.3s ease;
}

.design-item h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #0078ff;
    transition: width 0.3s ease;
}

.design-item:hover h2 {
    color: #000000;
}

.design-item:hover h2::after {
    width: 50px;
}

@media (max-width: 768px) {
    .design-item h2 {
        font-size: 1.7em;
    }
}

.design-item p {
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
}

.view-button {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    align-self: center;
    width: calc(100% - 40px);
    margin-bottom: 20px;
}

.view-button:hover {
    background-color: #005bb5;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .design-container {
        grid-template-columns: 1fr;
    }
    
    .design-item {
        height: 300px;
    }
}
