/* General Styling */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

#team-builder-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
}

#team-builder {
    width: 55%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#team-builder h2 {
    font-size: 1.8rem;
    color: #333;
}

#pokemon-selector {
    display: flex;
    margin-bottom: 20px;
}

#pokemon-input {
    width: 75%;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#add-pokemon {
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #0078ff;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

#add-pokemon:hover {
    background-color: #005bb5;
}

#team-list {
    list-style: none;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
}

#team-list li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px 0;
    background-color: #e7f1ff;
    border-radius: 8px;
}

#team-list button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

#analyze-team {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    align-self: center;
    transition: background-color 0.3s;
}

#analyze-team:hover {
    background-color: #218838;
}

/* Radar Chart */
#radar-chart-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
}

#radar-chart {
    width: 100%;
    height: 100%;
}


#stats-section .chart-container {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #CC0000;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font-size: 0.9em;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #333;
}

.legend circle {
    cursor: pointer;
}

.legend text {
    cursor: pointer;
    font-size: 0.9em;
    fill: #333;
}

.controls {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

#speedSlider {
    width: 200px;
    margin-left: 10px;
}
